[Unit]
Description=Squeezelite LMS player
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/squeezelite start
ExecStop=/etc/init.d/squeezelite stop
PIDFile=/var/run/squeezelite.pid

[Install]
WantedBy=multi-user.target
