[Unit]
Description=Starts and stops the Squeezelite
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
GuessMainPID=yes
User=root
ExecStart=/home/pi/startSqueezelite.sh
Restart=on-failure
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
